:root {
  /* color */
  --backGround: #e6edff;
  --backGroundSub: #a0c0ff;
  --mainColor: #8d95cf;
  --mainColor2: #002266;
  --labelColor: aliceblue;
  --tableColor: #ffffff;
  --backDropColor: #00000096;

  /* text color */
  --textmain: #e6edff;
  --textGrey: #3c3c3c;
}
